# Aliases

# by comandos
alias v="nvim"
alias itellij="$HOME/_programas_/intellij_Community/idea-IC-232.9559.62/bin/idea.sh" # ITELLIJ
alias lst="tree -a -I .git"

# recarregamentos
alias rr="source ~/.bashrc" # reconectar propagar as mudanças no bashrc e meus mybash
alias rt="tmux source ~/.tmux.conf"



# atalhos diretorios
alias dev="cd $HOME/$DOTDEV/"
alias dot="cd $HOME/dotfiles/"
alias dclones="cd $HOME/dotclones/"
alias nd="cd $HOME/.config/nvim/" # nvim
alias vsd="cd $HOME/.config/Code/User/" # vscode user
alias edit_nvim="cd $HOME/dotfiles/nvim/.config/nvim/"
alias edit_tmux="cd $HOME/dotfiles/tmux/"
alias edit_alac="cd $HOME/dotfiles/alacritty/.config/alacritty/"
alias edit_bash="cd $HOME/dotdev/mybash"
